[submodule "lib/lanedet"]
	path = lib/lanedet
	url = https://github.com/Jokoe66/Ultra-Fast-Lane-Detection.git
[submodule "lib/mmdetection"]
	path = lib/mmdetection
	url = https://github.com/Jokoe66/mmdetection-1.git
[submodule "lib/bts"]
	path = lib/bts
	url = git@github.com:jmjjok/bts.git
